.table {
    max-width: 1000px;
    max-height: 200px;
    padding-top: 30px;
    margin-bottom: 30px;
    width:800px;
    color: white;
}

.row__left {
    text-align: right;
    padding: 30px;
    font-size: 16px;
    max-width: 200px;
    white-space: pre-wrap;
}

.row__right {
    text-align: left;
    padding: 30px;
    font-size: 16px;
    max-width: 200px;
}

.car__image {
    max-width: 1000px;
    max-height: 500px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 100px;
}
