.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.75);
    padding: 10px;
    background-color:white !important;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__items > :not(h2):hover {
    cursor: pointer;
    color: grey;
}

.header__items > * {
    background-color: transparent;
    border: none;
    font: bold 18px Lexend, sans-serif;
    color: black;
    display: flex;
}

.header__button {
    margin: 10px;
    text-decoration: none;
}

.languageIndicator {
    margin: 10px 20px 10px 10px;
}

.separator {
    margin-top: 2px;
    margin-bottom: 6px;
}