.footer__component {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.75);
}

.footer__image {
    height: 100%;
    width: 40%;
    max-height: 250px;
    max-width: 700px;
}

.gradient {
    background: linear-gradient(to left, blue, red);
}

.footer__table {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__row {
    width: 100%;
}

.footer__column {
    width: 33%;
    padding: 15px;
    place-items: start;
}

.footer__div {
    width: 50%;
    padding: 10px;
}
