.button {
    background-color: #94CDD1;
    color: black;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    font-family: Lexend, sans-serif;
    border: solid 3px #94CDD1;
    font-size: 0.875em;
    animation: ease-in-out;
}

.button:hover {
    cursor: pointer;
    background-color: #E2F1F3;
}