.car__card {
    box-shadow: 0 8px 24px rgba(148, 205, 209, 0.75);
    border: 1px solid black;
    max-width: 1200px;
    min-width: 1100px;
    margin: 15px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}

.car__content{
    line-height: 20px;
}


.car__image{
    width: 600px;
    height: 300px;
}
