.car__card {
    box-shadow: 0 8px 24px rgba(148, 205, 209, 0.75);
    border: 1px solid black;
    height: 250px;
    max-width: 1200px;
    min-width: 1100px;
    margin: 15px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.car__content{
    line-height: 20px;
    text-align: left;
}


.car__image{
    width: 500px;
    height: 250px;
}
