.carousel {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.carouselImage {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
    transition: opacity 4s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: grayscale(100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 75vh;
    background-color: black;
    z-index: 2;
    opacity: 0.5;
}

.carouselImage__show {
    opacity: 1;
}