.carousel {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 4s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: grayscale(100%);
}

.carouselImage__show {
    opacity: 1;
}