.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    margin: 0 40px;
    color: white;
}

.search__input {
    margin: 10px;
}

.sort__select {
    border: none;
}

.filter{
    width: 130px;
    border: 5px solid #94CDD1;
    line-height: 20px;
    padding: 30px;
    margin-left: 30px;
    height: 665px;
    margin-top: 15px;
    background-color: white;
}

.filter__content{
    padding-left: 30px;
    color: black !important;
    display: flex;
    flex-direction: column;
}

.filter__header{
    padding-left: 15px;
}

.car__container{
    display: flex;
    margin: 30px auto;
}

.car__card {
    margin: 0 auto;
    text-align: center;
}

.a {
    display: block;
}

.body{
    color: rgb(51,51,51);
}

.border {
    border-bottom: 3px solid #94CDD1;
}

.sort__object {
    display: flex;
    flex-direction: row;
}
