.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.search__input {
    margin: 10px;
}

.sort__select {
    border: none;
}

.filter{
    width: 130px;
    border: 5px solid #94CDD1;
    line-height: 10px;
    padding: 30px;
    margin-left: 30px;
    height: 665px;
    margin-top: 15px;
}

.filter__content{
    padding-left: 30px;
}

.filter__header{
    padding-left: 15px;
}

.car__container{
    display: flex;
    margin: 30px auto;
}

.car__card {
    margin: 0 auto;
    text-align: center;
}

