.logInArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 150px;
    margin-bottom: 300px;
}

.logInArticle > h2 {
    margin-bottom: 75px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
}

.logInArticle__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin-bottom: 18px;
}

.form > button[type="submit"] {
    align-self: center;
    margin-top: 15px;
    width: 40%;
}

.form > label > h4 {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 4px;
}

.form__input {
    width: 100%;
}

.logIn__header {
    margin-bottom: 10px;
}